.root {
  @apply flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm 
  file:border-0 file:bg-transparent file:text-sm file:font-medium ease-linear duration-200 
  placeholder:text-muted-foreground outline-none focus-visible:ring-2 
  focus-visible:ring-primary/40 disabled:cursor-not-allowed disabled:opacity-50;
}
.root.error {
  @apply border-danger/60 focus-visible:border-danger focus-visible:ring-danger/40;
}
